/* IMPORTANDO PARCIALES */
* {
  margin: 8px;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'MetropolisRegular';
  background-image: url(../../imagenes/Cloudy.svg);
  background-repeat: no-repeat;
  background-size: cover; }

p {
  color: #2b2a68;
  font-family: 'MetropolisRegular';
  font-weight: 100;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  margin-top: auto; }

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-size: bold;
  color: #585858; }

.MiFuente {
  font-family: 'brushield', sans-serif;
  font-size: 45px; }

.row {
  flex-wrap: wrap;
  display: flex;
  padding: 0px;
  margin: 0px; }

#italica {
  font-style: italic; }

.card {
  overflow: hidden; }

.card-img-top {
  width: auto; }

.accordion-button {
  width: 100%; }

.card-title {
  size: 20px;
  text-align: center; }

.card-text {
  size: 14px; }

#align-item-center {
  align-items: center; }

.text-center {
  color: #979797;
  text-align: justify; }

#cerrarsidebar {
  display: none; }

.botonhamburguesa {
  display: none; }

.header {
  height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0,5rem;
  position: relative;
  position: sticky;
  top: 0%;
  background-image: url(../imagenes/wp4332186.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border-radius: 2%;
  max-height: 8%;
  z-index: 100; }
  .header__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /*         display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; */ }
  .header__logo {
    display: flex;
    width: 120px;
    max-height: 120px;
    display: block;
    margin: 0 auto; }
  .header__navLista {
    display: flex; }

ul {
  list-style: none; }

a:hover {
  text-decoration: none;
  color: white; }

#header-legend {
  background-image: url(../imagenes/wp4332186.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border-radius: 2%;
  max-height: 8%;
  z-index: 100;
  color: white; }

nav {
  padding: 0px;
  margin: 0px; }

nav ul li a {
  background-color: #979797;
  border-radius: 5px;
  position: relative;
  color: black;
  display: inline-block;
  padding: 0.2rem 0.2rem;
  margin-bottom: 0px;
  text-decoration: none; }

.nav__item--activo {
  background-color: black;
  border-radius: 5px;
  color: #979797;
  display: inline-block;
  padding: 0.5rem 1rem; }

nav ul li a {
  text-decoration: none;
  background-image: linear-gradient(red, #530a0a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 7px;
  transition: background-size .3s; }

nav ul li a:hover, nav ul li a:focus {
  background-size: 100% 2px; }

.promoUno {
  display: flex;
  max-width: 100%;
  display: block;
  box-shadow: 5px 10px 10px #979797;
  border-radius: 10px; }

.promoChica1 {
  display: flex;
  max-width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #979797; }

.promoChica2 {
  display: flex;
  max-width: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 5px 10px 10px #979797; }

.gridPromoContenedor {
  padding-left: 8rem;
  padding-right: 8rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: stretch;
  position: relative;
  grid-column-gap: 6px;
  grid-template-areas: "promoUno promoChica1" "promoUno promoChica2"; }

.grid__promoUno {
  grid-area: promoUno;
  margin: 0%;
  position: relative; }

.grid__promoChica1 {
  grid-area: promoChica1;
  margin: 0%;
  position: relative; }

.grid__promoChica2 {
  grid-area: promoChica2;
  margin: 0%;
  position: relative; }

.grid-section {
  display: grid;
  margin-top: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  grid-template-areas: "grid__equipos" "grid__atomizadores" "grid__eliquids"; }

.grid__equipos {
  display: grid;
  grid-area: grid__equipos; }

.grid__atomizadores {
  display: grid;
  grid-area: grid__atomizadores; }

.grid__eliquids {
  display: grid;
  grid-area: grid__liquids; }

.footerVape {
  display: flex;
  height: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0rem;
  position: relative;
  top: 0%;
  background-image: url(../imagenes/wp4332186.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;
  max-height: 5%;
  z-index: 100;
  justify-content: space-between; }

#footerVape__logofooter {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  margin: auto; }

#textoBlanco {
  color: #979797; }

#aLaDerecha {
  color: #979797;
  text-align: end; }

.textoEnlacesfb {
  display: flex;
  flex-direction: row;
  color: #979797;
  line-height: 0rem;
  align-items: center; }

.textoEnlaceswpp {
  display: flex;
  flex-direction: row;
  color: #979797;
  line-height: 0rem;
  align-items: center; }

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
    margin-top: 0%;
    position: relative; }
  .header__contenedor {
    flex-direction: column;
    max-width: auto; }
  .header__navLista {
    flex-wrap: wrap;
    justify-content: center; }
  .header__logo {
    max-width: 100px; }
  .textoEnlaceswpp {
    font-size: 12px;
    flex-wrap: wrap;
    flex-direction: column; }
  .textoEnlacesfb {
    font-size: 12px;
    flex-wrap: wrap;
    flex-direction: column; }
  #aLaDerecha {
    font-size: 12px; }
  #footerVape__logofooter {
    max-height: 85%; }
  .botonhamburguesa {
    display: none; }
  #cerrarsidebar {
    display: none; }
  .row {
    flex-wrap: wrap; }
  .card-text {
    display: none; }
  #italica {
    font-style: italic !important; }
  .image-wrapper {
    display: none; }
  .grid__promoChica2 {
    top: -10px; } }

/* Movil */
@media screen and (max-width: 600px) {
  .header__contenedor {
    flex-wrap: wrap;
    flex-direction: row-reverse; }
  .header__logo {
    max-width: 50%; }
  h2 {
    font-size: 20px; }
  p {
    font-size: 16px; }
  .botonhamburguesa {
    display: block;
    background-color: #979797;
    border-radius: 5px;
    padding: 0,5rem 0,5rem; }
  .header__navLista {
    background-color: rgba(80, 80, 80, 0.425);
    width: 80%;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    flex-direction: column;
    justify-content: center;
    gap: 0,2rem;
    padding: 0,2rem;
    transition: transform 0,5s;
    z-index: 100; }
  #cerrarsidebar {
    display: flex; }
  #sidebar:target {
    transform: translateX(0); }
  .cerrarsidebar {
    display: inline-block; }
  .footerVape {
    flex-wrap: wrap;
    flex-direction: column;
    height: 1%;
    justify-content: center; }
  #footerVape__logofooter {
    display: none; }
  #aLaDerecha {
    display: none; }
  .row {
    flex-wrap: wrap; }
  .card-text {
    display: none; }
  .image-wrapper {
    display: none; }
  .Promos {
    display: none; } }
