* {
/*     margin: 8px;
    padding: 0; */
    box-sizing: border-box;
}
body {
    font-family: 'MetropolisRegular';
    background-image: $bg-img;
    background-repeat: no-repeat;
    background-size: cover;
}
p { 
    color: $color-gris-muyoscuro;
    font-family: 'MetropolisRegular';
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-top: auto;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-size: bold;
    color: $color-gris-oscuro;
}
.MiFuente{
    font-family: 'brushield', sans-serif;
    font-size: 45px;
}
.separador{
    background-image: url(../imagenes/wp4332186.jpg);
    padding: 1rem;
    color: white;
}
.row {
    flex-wrap: wrap;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.italica{
    font-style: italic;
    padding: 1.5rem 3.5rem 1.5rem 3.5rem;
}
.card{
    overflow: hidden;
    padding: 1rem;
}
.card-img-top{
    width: auto;
}
.accordion-button{
    width: 100%;
}
.card-title{
    size: 20px;
    text-align: center;
}
.card-text {
    size: 14px;
}
.cardflex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    font-size: 12px;
}
.btn-outline-danger{
    font-size: 12px;
}
#align-item-center{
    align-items: center;
}

.text-center {
    color: $color-gris;
    text-align: justify;
}
#cerrarsidebar {
    display: none;
}
.botonhamburguesa {
    display: none;
}
.card:hover{
    transform: scale(1.01);
}
.container {
    margin-bottom: 1.5rem;
    padding: 1rem;
}