@mixin FlexColRow ($eje-principal, $eje-secundario) {
    display: flex;
    flex-direction: row;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
    flex-direction: row;
}

.header {
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .30);
    padding: 0,5rem;
    position: relative;
    position: sticky;
    top: 0%;
    background-image: url(../imagenes/wp4332186.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    max-height: 8%;
    z-index: 100;
    &__contenedor {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        @include FlexColRow(space-between, center)
    }
    
    &__logo {
        display: flex;
        width: 120px;
        max-height: 120px;
        display: block;
        margin: 0 auto;
    }
    
    &__navLista { 
        display: flex;
    }
}

ul{
    list-style: none;
}
a:hover {
    text-decoration: none;
    color: white;
}

#header-legend{
    background-image: url(../imagenes/wp4332186.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    border-radius: 2%;
    max-height: 8%;
    z-index: 100;
    color: white;
}

nav{
    padding: 0px;
    margin: 0px;
}

nav ul li a {
    background-color: $color-gris;
    border-radius: 5px;
    align-self: center;
    position: relative;
    color: black;
    display: inline-block;
    padding: 0.2rem 0.2rem;
    margin-bottom: 0px;
    text-decoration: none;
    margin: 6px;
}
.nav__item--activo {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: $color-gris;
    display: inline-block;
    padding: 0.5rem 1rem;
}
nav ul li a {
    text-decoration: none;
    background-image: linear-gradient(red, rgb(83, 10, 10));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 7px;
    transition: background-size .3s;
}
nav ul li a:hover, nav ul li a:focus {
    background-size: 100% 2px;
}