/* Tablet */
@media screen and (max-width: 1024px) {
    .header{
        height: auto;
        margin-top: 0%;
        position: relative;
        
        &__contenedor {
            flex-direction: column;
            max-width: auto;
        }
        &__navLista{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__logo{
            max-width: 100px;
        }
    }
    .textoEnlaceswpp {
        font-size: 16px;
    }
    .textoEnlacesfb {
        font-size: 16px;
    }
    .textoEnlaces{
        font-size: 16px;
    }
    #aLaDerecha {
        font-size: 16px;
        padding-left: 2rem;
    }
    #footerVape__logofooter {
        max-height: 100%;
    }
    .botonhamburguesa{
        display: none;
    }
    #cerrarsidebar {
        display: none;
    }
    .row {
        flex-wrap: wrap;
    }
    .card-wraper{
        display: flex;
        flex-direction: column;
    }
    .card-text {
        display: none;
    }
    .accordion-txt{
        font-size: 14px;
    }
    #italica {
        font-style: italic !important
    }
    .accordion-txt{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .image-wrapper {
        display: flex;
        justify-content: center;
    }
    .row-align-items-center{
        flex-direction: column;
    }
    .img-fluid{
        max-width: 185px;
        align-self: center;
    }
    .gridPromoContenedor {
        padding-left: 8rem;
        padding-right: 8rem;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
        justify-content: stretch;
        position: relative;
        grid-row-gap: 6px;
        grid-template-areas: 
        "promoUno promoUno"
        "promoChica1 promoChica1"
        "promoChica2 promoChica2";
    }
    .italica{
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
}
/* Movil */
@media screen and (max-width: 600px) {
    .header{
        width: 100%;
    }
    .header__contenedor {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
    .header__logo{
        max-width: 50%;
    }
     h2 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
    nav ul li a .botonhamburguesa{
        display: none;
    }
    .botonhamburguesa {
        display: block;
        background-color: $color-gris;
        color: white;
        border-radius: 2px;
        margin-left: 1rem;
        padding: 0.5rem;
        z-index: 100;
    }
    .header__navLista {
        background-color: rgba(80, 80, 80, 0.425);
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 0,2rem;
        padding: 0,2rem;
        transition: transform 0.5s;
        z-index: 100;
    }
    #cerrarsidebar {
        display: flex;
    }
    .image-wrapper{
        display: none
    }    
    #sidebar:target {
        transform: translateX(0 );
    }
    .cerrarsidebar{
        display: inline-block;
    }
    .footerVape{
        flex-wrap: wrap;
        flex-direction: column;
        height: 1%;
        justify-content: center; 
    }
    #footerVape__logofooter {
        display: none;
    }
    #aLaDerecha {
        display: none;
    }
    .row {
        flex-wrap: wrap;
    }
    .card-text {
        display: none;
    }
    .image-wrapper {
        display: flex;
        justify-content: center;
    }
    .promo{
        display: none;
    }
    .italica{
        display: none;
    }
    .accordion{
        padding: 6px;
    }
    .accordion-txt{
        display: none;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .textoEnlacesfb{
        justify-content: center;
        font-size: 12px;
    }
    .textoEnlaceswpp{
        justify-content: center;
        font-size: 12px;
    }
    .textoEnlaces{
        justify-content: center;
        line-height: 1rem
    }
    .form-group{
        padding: 0px;
    }
    .solomobile{
        display: flex;
        justify-content: space-around;
    }
    h3{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: $color-gris-muyoscuro;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        margin-top: -25px;
    }
    h3 .glitch{
        font-weight: 800;
    }
    #iconos{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}   