.promoUno {
    display: flex;
    max-width: 100%;
    display: block;
    box-shadow: 5px 10px 10px rgb(151, 151, 151);
    border-radius: 10px;
}
.promoChica1 {
    display: flex;
    max-width: 90%;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(151, 151, 151);
}

.promoChica2 {
    display: flex;
    max-width: 90%;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(151, 151, 151);
}