.promo{
        &__Uno {
        display: flex;
        max-width: 100%;
        display: block;
        box-shadow: 5px 10px 10px rgb(151, 151, 151);
        }
        &__Chica1 {
        display: flex;
        max-width: 100%;
        display: block;
        box-shadow: 5px 10px 10px rgb(151, 151, 151);
        align-self: start;
        }
        &__Chica2 {
            display: flex;
            max-width: 100%;
            display: block;
            box-shadow: 5px 10px 10px rgb(151, 151, 151);
            align-self: end;
        }
        &__Uno:hover{
            transform: scale(1.01)
        }
        &__Chica1:hover{
            transform: scale(1.01);
        }
        &__Chica2:hover{
            transform: scale(1.01)
        }
    }