$color-gris: #979797;
$color-gris-oscuro: #585858;
$color-gris-muyoscuro: #1f1f1f;

$MiFuente: url('http://fonts.cdnfonts.com/css/brushield');
                
$bg-img: url(../../imagenes/Cloudy.svg);
$modo: light; 

@if $modo == dark { /* intenando cambiar color en caso de poner modo oscuro de chrome */
    $bg-img: url(../../imagenes/Cloudy-black.svg)
}